# Task 1

### A (Factorial of n)

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))

120

### B (n-th Fibonacci number)

In [ ]:
def fib(n):
    if n == 0 or n == 1:
        return n
    else:
        return fib(n-1) + fib(n-2)

print(fib(6))

8

### C (Print Array)

In [ ]:
def print_array(arr):
    if len(arr) == 1:
        print(arr[0], end='')
    else:
        print(arr[0], end=' ')
        print_array(arr[1:])

print_array([1, 2, 3, 4, 5])

1 2 3 4 5

### D (Power of N)

In [ ]:
def powerN(base, n):
    if n==0:
        return 1
    elif n == 1:
        return base
    else:
        return base * powerN(base, n-1)


print(powerN(3, 1))
print(powerN(3, 2))
print(powerN(3, 3))

1
9
27

# Task 2

### A (Decimal to binary)

In [ ]:
def dec2bin(n):
    if n == 0:
        return "0"
    elif n == 1:
        return "1"
    else:
        return dec2bin(n // 2) + str(n % 2)

print(dec2bin(55))

110111

### B (Add all the elements of singly linked linear list)

In [ ]:
class Node:
    def __init__(self, element, next=None):
        self.element = element
        self.next = next


class SinglyLinkedList:
    def __init__(self, array):
        node = Node(array[0])
        self.head = node
        for i in range(1, len(array)):
            node.next = Node(array[i])
            node = node.next

    def __str__(self):
        result = ""
        itr = self.head
        while itr != None:
            result += str(itr.element) + " "
            itr = itr.next
        return result


def add_all(head):
    if head == None:
        return 0
    else:
        return head.element + add_all(head.next)



sll = SinglyLinkedList([10, 20, 30, 40])
print("The list is: ", sll)
print("The sum of all elements is: ", add_all(sll.head))

The list is:  10 20 30 40
The sum of all elements is:  100

### C (Print reversed)

In [ ]:
class Node:
    def __init__(self, element, next=None):
        self.element = element
        self.next = next


class SinglyLinkedList:
    def __init__(self, array):
        node = Node(array[0])
        self.head = node
        for i in range(1, len(array)):
            node.next = Node(array[i])
            node = node.next

    def __str__(self):
        result = ""
        itr = self.head
        while itr != None:
            result += str(itr.element) + ""
            itr = itr.next
        return result


def printReversed(head):
    if head == None:
        return
    else:
        printReversed(head.next)
        print(head.element)


sll = SinglyLinkedList([10, 20, 30, 40])

printReversed(sll.head)

40
30
20
10

# 3

In [ ]:
def hocBuilder(height):
    if height == 0:
        return 0
    elif height == 1:
        return 8
    else:
        return hocBuilder(height-1) + 5


height = int(input("Enter the height of the HOC: "))
print("Cards Required:",hocBuilder(height))

Enter the height of the HOC: 3
Cards Required: 18

### 4

### A

In [ ]:
def left(rows, n):

    def series(rows, n):
        if rows == 0:
            return
        print(n, end="")
        series(rows-1, n+1)

    if rows == 0:
        return

    series(n - rows+1, 1)
    print()
    left(rows-1, n)


left(5, 5)

1
12
123
1234
12345

### B

In [ ]:
def right(rows, n):

    def series(rows, n):
        if rows == 0:
            return
        print(n, end="")
        series(rows-1, n+1)

    def white_spaces(n):
        if n == 0:
            return
        print(" ", end="")
        white_spaces(n-1)

    if rows == 0:
        return

    white_spaces(rows-1)
    series(n - rows+1, 1)
    print()
    right(rows-1, n)


right(5, 5)

    1
   12
  123
 1234
12345

# 5

In [ ]:
class FinalQ:
    def print(self, array, idx):
        if idx < len(array):
            profit = self.calcProfit(array[idx])
            print(f"Investment: {array[idx]}; Profit: {profit:.1f}")
            self.print(array, idx + 1)

    def calcProfit(self, investment):
        if investment == 25000:
            return 0
        elif 25000 < investment <= 100000:
            return self.calcProfit(investment-1000) + 45
        elif 100000 < investment:
            return self.calcProfit(investment-100) + 8


array = [25000, 100000, 250000, 350000]
f = FinalQ()
f.print(array, 0)

Investment: 25000; Profit: 0.0
Investment: 100000; Profit: 3375.0
Investment: 250000; Profit: 15375.0
Investment: 350000; Profit: 23375.0

# **Recursion Lab TASK1**

In [ ]:
def flattenList(given_list, output_list):
    if len(given_list) == 0:
        return output_list
    if isinstance(given_list[0], list):
        output_list = flattenList(given_list[0], output_list)
    else:
        output_list.append(given_list[0])
    return flattenList(given_list[1:], output_list)

given_list = [1, [2, [3, [4], 5], 6], 7, 8, [9, [[10, 11], 12], 13], 14, [15, [16, [17]]]]
output_list = flattenList(given_list, [])
print(output_list)

In [ ]:
class Node:
    def __init__(self, next=None, bottom=None, val=None):
        self.next = next # for next item
        self.bottom = bottom # for nested item check
        self.val = val # The integer value.

def flattenList(head):
    if head is None:
        return head

    if head.bottom:
        head.next = flattenList(head.bottom)

    if head.next is not None and head.val <= head.next.val:
        head.next = flattenList(head.next)

    return head